:root {
  --background: #F2F2F2;
  --white: #ffffff;
  --basic-background: #888888;
  --black: #000000;
  --less-black: #333333;
  --light-cyan: #81B3D2;
  --very-light-gray: #EEEEEE;
  --grayish-orange: #766357;
  --basic-white-90: #ffffff90;
  --banner-color: #4979a7;
}

.page-body {
  background-color: var(--background);
  font-family: "PT Sans", "Arial", "sans-serif";
  min-width: 1200px;
}

.container {
  display: grid;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  position: relative;
  background-color: var(--white);
}

.sedona-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-list {
  display: flex;
  list-style-type: none; /* Убираем маркеры для ul li*/
  margin: 0; /*убираем автоматику ul*/
  padding: 0 72px;
}

.nav-list li {
  width: 229px;
  padding: 15px 0;
}

.nav-list li:nth-child(3),
.nav-list li:nth-child(4) {
  text-align: right;
}

.nav-list li:nth-child(3) {
margin-left: auto;
margin-right: 0;
}

.nav-text {
  text-decoration: none; /*убираем подчеркивание у "a"*/
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black);
}

.banner {
  background-color: var(--banner-color);
  display: flex;
  justify-content: center;
}

.img-center {
  padding-top: 80px;
  padding-bottom: 80px;
}

.white-background {
  background-color: var(--white);
}

.sedona-is {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  padding-top: 42px;
  margin: 0;
}

.sedona-better {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: var(--less-black);
  margin: 0;
  padding-top: 16px;
  padding-bottom: 51px;
}

.gridtab-of-reasons-and-advices { /* Убираем автоматику только для первого*/
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.reason-item-big {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-start: 1;
  grid-column-end: -1;
}

.reason-text {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--light-cyan);
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}

.reason-text h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding: 47px 0 25px 0;
  margin: 0; /*доб паддинг, автоматически появ маргин*/
}

.reason-text span { /*мар и пад не работают*/
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.reason-text p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 23px 0 0 0;
}

.img-for-reason-one {
  grid-column-start: 2;
  grid-column-end: 4;
}

.img-for-reason-one img {
display: block;
}

.advices-list {
display: grid;
grid-template-columns: 400px 400px 400px;
list-style-type: none;
padding-left: 0;
text-align: center;
}

.advices-list li {
background-color: var(--white);
}

.advices-list h3{
font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 21px;
text-transform: uppercase;
margin: 0;
padding: 160px 0 25px 0;
}

.advices-list p{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
text-transform: uppercase;
color: var(--less-black);
margin: 0;
padding: 0 0 82px 0;
}

.reason-devil-bridge {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-column-start: 1;
  grid-column-end: -1;

}

.img-for-reason-bridge {
  grid-column-start: 1;
  grid-column-end: 3;
  display: block;
}

.img-for-reason-bridge img {
  display: block;
}

.reason-devil-bridge-text {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: var(--light-cyan);
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}

.reason-devil-bridge-text h3 {
 font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  padding: 47px 0 25px 0;
  margin: 0; /*доб паддинг, автоматически появ маргин*/
}

.reason-devil-bridge-text  span { /*мар и пад не работают*/
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.reason-devil-bridge-text  p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 23px 0 0 0;
}

.reason-square {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--very-light-gray);
  text-align: center;
}

.reason-road {
  grid-column-start: 2;
  grid-column-end: 3;
  background-color: var(--very-light-gray);
  text-align: center;
}

.reason-tourists {
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: var(--very-light-gray);
  text-align: center;
}

.title-of-reason-3-5 {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 47px 0 25px 0;
  margin: 0;
}

.numbers {
  color: var(--less-black);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.text-of-reason-3-5 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--less-black);
  margin: 0;
  padding: 23px 0 54px 0;
}


.offer {
  background-color: var(--white);
  text-align: center;
  padding-top: 58px;
  /*padding-bottom: хз*/

}

.offer b {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

.offer p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--less-black);
  text-align: center;
  text-transform: uppercase;
  margin: 28px 0 30px 0;
}


/* всплывающее окно?

.button-find-hotel {
  display: flex;
  justify-content: center;
}

.button-find-hotel button {
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--grayish-orange);
  text-transform: uppercase;
  padding: 30px 125px 30px 124px;
  text-align: center;
}

.find {
  display: flex;
  justify-content: center;
}

.find button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  background-color:var(--light-cyan);
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  padding: 16px 182px 16px 182px;
}

*/

.main-footer {
  background-color: var(--basic-white-90);
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.phone h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: center;
  margin: 0;
  padding: 23px 0 0 0;
}

.phone p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: center;
  margin: 0;
  padding: 9px 0 36px 0;
}

.footer-social {
  align-items: center;
  margin: 0;
  padding: 41px 0 43px 0;
}

.footer-social p {
  color: var(--black);
  text-transform: uppercase;
  margin: 0;
}
