:root {
  --background: #F2F2F2;
  --white: #ffffff;
  --basic-background: #888888;
  --black: #000000;
  --less-black: #333333;
  --light-cyan: #81B3D2;
  --very-light-gray: #EEEEEE;
  --grayish-orange: #766357;
  --basic-white-90: #ffffff90;
}

.page-body {
  background-color: var(--background);
  font-family: "PT Sans", "Arial", "sans-serif";
  min-width: 1200px;
}

.container {
  display: grid;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav {
  display: flex;
  width: 1200px;
  height: 56px;
  background-color: var(--white);
}

.sedona-logo {
  position: absolute;
  margin-left: 531px;
}

.nav-list {
  display: flex;
  width: 1056px;
  list-style-type: none; /* Убираем маркеры для ul li*/
  margin-left: 0px; /*убираем автоматику ul*/
  padding: 0px 72px;
  justify-content: space-between;
}

.nav-list li {
  width: 229px;
}

.nav-list li:nth-child(3) {
  text-align: right;
}

.nav-list li:nth-child(4) {
  text-align: right;
}

.nav-text {
  text-decoration: none; /*убираем подчеркивание у "a"*/
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--black);
}

.img-center {
  margin-left: 411px;
  margin-top: 77px;
  margin-bottom: 80px;
}

.white-background {
  background-color: var(--white);
  height: 216px;
}

.sedona-is {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  padding-top: 42px;
}

.sedona-better {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--less-black);
  margin-top: 50px;
}

.delete-mark {
  list-style-type: none; /* Убираем маркеры для ul li*/
  margin: 0px;
  padding: 0px; /* Убираем автоотступ для ul li*/
}

.reason-on-blue-1 {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px;
  background-color: var(--white);
  text-align: center;
  padding-inline-start: 0px; /*user agent stylesheet убираем*/
  background-color: var(--light-cyan);
}

.grid-area-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-top: 47px;
}

.real-town {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

.numbers-white {
  display: grid;
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}

.own-brave {
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}

.grid-area-2 {
  grid-column-start: -1;
  grid-column-end: -3;
}

.advices-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 332px;
  background-color: var(--white);
  text-align: center;
  padding-left: 0px;
}

.advice-item {
  align-items: center;
  padding-top: 129px;
  color: var(--black);
  list-style: none;
  margin-right: 0px;
}

.house-food-souvenirs {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}

.recommend {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--less-black);
}

.grid-area-3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.grid-area-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  padding-top: 47px;
}

.square-road-tourists1 {
  display: block;
  float: left;
  width: 400px;
  height: 209px;
  background-color: var(--very-light-gray);
  text-align: center;
  padding-top: 47px;
  list-style: none;
  margin-right: 0px;
}

/* инлайн не сработал и флекс тож*/

.square-road-tourists2 {
  display: block;
  float: left;
  width: 400px;
  height: 209px;
  background-color: var(--very-light-gray);
  text-align: center;
  padding-top: 47px;
}

.square-road-tourists3 {
  display: block;
  float: left;
  width: 400px;
  height: 209px;
  background-color: var(--very-light-gray);
  text-align: center;
  padding-top: 47px;
}

.little-square {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  margin: 0px;
}

.numbers {
  color: var(--less-black);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  padding-top: 17px;
}

.close-fun-free{
  color: var(--less-black);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}

.offer {
  background-color: var(--white);
  text-align: center;
}

.offer b {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

.offer p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--less-black);
  text-align: center;
  text-transform: uppercase;
}


.find-hotel {
  text-align: center;
}

.button-find-hotel {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  background-color: var(--grayish-orange);
  text-align: center;
  text-transform: uppercase;
}

.find {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--white);
  background-color:var(--light-cyan);
  text-align: center;
  text-transform: uppercase;
}

.body-hotels {
  background-color: var(--white);
}

.found{
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
}

.sorting {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
}

.sorting-options a {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-transform: uppercase;
  color: var(--light-cyan);
  text-decoration: none;
}

.img-hotels {
  text-decoration: none;
}

.hotels-names {
  text-decoration: none;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  color: var(--black);
}

.price{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: var(--less-black);
}

.detailed {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--light-cyan);
}

.reservation {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--grayish-orange);
}

.rating {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: var(--background)
}


.main-footer {
  background-color: var(--basic-white-90)
}

.phone h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: center;
}

.phone p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: center;
}

.footer-social {
  text-align: center;
  color: var(--black);
}
